config AUTO_CORRECT_WIDGET
    bool "Enable RGB LED widget for showing battery and output status"

if AUTO_CORRECT_WIDGET

config AUTO_CORRECT
    default y

config AUTO_CORRECT_LANG
    int "Language for auto complete dictionary"
    default "English"

endif

